.container {
  padding: 8px;
  box-shadow: 3px 3px 11px 3px rgb(0 0 0 / 32%);
  margin-bottom: 10px;
}

.list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.item {
  margin: 0px 16px;
}